/*esta es una tipografía nueva, Harbinger-Caps.otf*/



/* Falta arreglar el espaciado entre contenido y nav */
@font-face{
	font-family:Harbinger;
	src:url(fonts/Harbinger-Caps.otf);
}
html{
	scroll-behavior: smooth;
}


header{
	margin-top: 20px;
	margin-right:2%;
	margin-left:2%;
	font-family:Harbinger;
	color:#000000;
	font-size: 200%;
	text-align:center;
	background-color: #ffffff;
	border-radius: 10px 10px 0 0;
	padding-top:2%;
	padding-bottom: 2%;
	text-transform:uppercase;
	
	

}

nav{
	box-sizing: border-box;
    background-color: #408080;
    text-align: center;
    margin-left: 2%;
    float: left;
    font-family: Harbinger;
    color: #FFFFFF;
   
    margin-top: ;
    width: 15%;
    height: 100vh;
	line-height: 4rem;
}
#contenido{
	float: left;
    width: 81%;
    height: 100vh;
	background-color: #aecfd2;
	overflow: auto;
}



div{
	width:25%;
	height:150px;
	display:inline-block;
	color:black;
	margin: 2%;
	padding: 2%;
	font-family: Harbinger;
	text-align:justify;
	background-color: #FFFFFF;
	border-radius: 10px;
	transition: 0.7s ease;
}
div:hover{
	color: #ffffff;
	background-color: #aecfd2;
}

.hidevideos{
	overflow: hidden;
}
.videocenter{
	/* margin-left:auto;
	margin-right:auto; */
}


.texto{
	overflow: auto;
}



div.video2{
	margin: 30px 50%;
}



body{
	background-color: #000000;
}
footer{
	display: inline-block;
	width: 20%;
}

