/*esta es una tipografía nueva, Harbinger-Caps.otf*/
@font-face{
	font-family:AlteHaas;
	src:url(fonts/AlteHaasGroteskBold.ttf);
}

header{
	margin-top: 20px;
	margin-right:11%;
	margin-left:2%;
	font-family:AlteHaas;
	color:#000000;
	font-size: 200%;
	text-align:center;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-top:2%;
	padding-bottom: 2%;
	text-transform:uppercase;
}

nav{
	text-align: center;
	margin-top: 2%;
	font-family: AlteHaas;
	color:#FFFFFF;
}



div{
	width:25%;
	height:150px;
	display:inline-block;
	color:black;
	float:left;
	margin: 2%;
	padding: 10px;
	font-family: AlteHaas;
	text-align:center;
	background-color: #FFFFFF;
	border-radius: 10px;
}


#barralateral{
	width: 6%;
	height: 100%;
	display: block;
	position: fixed;
	background-color:100%;
	top:0%;
	right:0;
	overflow: auto;
	padding:1%;
	font-size: 100%;
}

#barralateral{
	text-decoration: none;
	color:#000000;
}

.texto{
	overflow: auto;
}

.video1{
	margin-bottom:10%;
}


body{
	background: rgb(44,148,235);
background: linear-gradient(90deg, rgba(44,148,235,1) 0%, rgba(57,91,224,1) 44%, rgba(82,132,255,1) 100%);
	padding-bottom:200em; 
}

