/*esta es una tipografía nueva, Harbinger-Caps.otf*/
@font-face{
	font-family:Harbinger;
	src:url(fonts/Harbinger-Caps.otf);
}

header{
	font-family:Harbinger;
	color:white;
	font-size: 200%;
	text-align:center;
}

body{
	background-color: black
}
