
/*esta es una tipografía nueva, Harbinger-Caps.otf*/
@font-face{
	font-family:Akira;
	src:url(../fonts/Akira.otf);
}

#overthinklogo{
	height: 6.5em;
	margin-left: 4em;
	margin-top: 0.5em;
}

#navegation{
	display: flex;
	background-color: #0c0c0c;
	height: 5em;
}

nav{	
	display: flex;
	color:white;
	
	width: 80%;
	height: 7em;;
	margin-top: 0;
	margin-left: 20% ;


	text-decoration:none;
	
	
}

/*text decoration es para quitarte el _ del link en cuestión*/
a{
	font-family: Akira;
	color:#ebebeb;
	text-align:center;
	text-decoration:none;
	
	border-radius: 20px;
	height: 2.5em;
	width: 8em;
	font-size: 2rem;
	margin-top: 0;
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	
	text-transform: uppercase;
	text-align: center;
	line-height: 250%;
	/* transition-property: background;
	 transition-duration: 0.5s; */
	transition: 0.5s ease;

}

a:hover{
	color: #363636;
}




body{
	background-color: #000000;
	margin: 0%;
}

footer{
	margin-top: 3%;
}
#textdiv{
	text-align: center;
}



#textfooter{
	color: #ffffff;
	display: inline-block;

}

h1{
	font-family: Akira;
	font-size: 5em;
	display: inline-block;
	margin-left: 17%;
	color: #ebebeb;
}
p{
	font-family: Akira;
	margin-left: 17%;
	color: #ebebeb;
}

#iglogo{
	height: 3rem;
	margin-left: 20%;
	margin-top: 5%;
}

#wearfacemask{
	position: absolute;
	top: 20%;
	left: 50%;
	height: 65em;
	/* display: none; */
	/* clip-path: inset(0 0 1000px 1000px); */
}

@media screen and (max-width:1180px){
	nav{
		display: flex;
	}
	a{
		font-family:Akira;
		color:#ffffff;
		text-align:center;
		text-decoration:none;
		display: block;
		border-radius: 20px;
		height: 7rem;
		width: 6rem;
		font-size: 1.2rem;
		margin-top: 1em;
		display: inline-block;
		margin-left: 1%;
		margin-right: 1%;
		
		text-align: center;
		line-height: 250%;
		/* transition-property: background;
		 transition-duration: 0.5s; */
		transition: 1s ease;
	
	}

}