
/*esta es una tipografía nueva, Harbinger-Caps.otf*/
@font-face{
	font-family:Harbinger;
	src:url(fonts/Harbinger-Caps.otf);
}

img{
	width:10%;
}


nav{	
	font-family:Harbinger;
	color:white;
	font-size: 200%;
	text-align:center;
	text-decoration:none;
	background-color: black;
}

/*text decoration es para quitarte el _ del link en cuestión*/
a{
	font-family:Harbinger;
	color:white;
	text-align:center;
	text-decoration:none;
}

div{

	text-align: center;
}

body{
	background-color: black
}
